{% extends 'habita/base.html.twig'%}
 
{% block title "Tous les habitats" %}


{% block body %}
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</p>

 <p> <a class="btn btn-primary btn-sm" href="{{ url('habitat.create') }}">Ajouter un habitat</a></p>

<table class="table">
<thead>
  <tr>
    <th>Titre</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody>
{% for habitat in habitats %}
  <tr>
    <td> <a href="{{ url('habitat.show', {id: habitat.id, slug: habitat.slug}) }}">{{habitat.title}}</a></td>
    <td>
    <div class="d-flex gap-1">
    <a class="btn btn-primary btn-sm" href="{{ url('habitat.edit', {id: habitat.id}) }}">Editer</a>
    <form action="{{ path('habitat.delete', {id: habitat.id}) }}" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
    </form>
    </div>
    </td>
  </tr>
   {% endfor %}
<tbody>
</table>
{% endblock %}
